{% extends '@CRUD/modal.html' %}
{% block modal_body %}
{% set action = CRUD.Object.getCurrentAction() %}
{% set bundle = Kernel.bundle('ProductBundle') %}
<form class="formkit-form ajax-action" enctype="multipart/form-data" method="post">
    {{ action.renderSignatureWidget|raw }}
    {{ action.renderCSRFTokenWidget|raw }}

    <div class="clearfix">
        <div class="column product-image-column">
            {{ action.renderField('image')|raw }}
        </div>

        <div class="column product-thumb-column">
            {{ action.renderField('thumb')|raw }}
        </div>

        {% if bundle.config('ProductImage.large') %}
        <div class="column product-zoom-image-column">
            {{ action.renderField('large')|raw }}
        </div>
        {% endif %}
    </div>
</form>
{% endblock %}
