{% extends '@CRUD/list_inner.html.twig' %}
{% block control %}
    {% if Request.param('parent_id') %}
    <div>
    <input type="button" value="回上層" onclick=" 
        Region.of(this).refreshWith({ parent_id: 0 });
    "/>
    </div>
    {% endif %}
    {{parent()}}
{% endblock %}
