<div class="divider"> </div>
<div class="row">
    <div class="col-md-3">
        <h3>產品目錄圖</h3>
        {{ CRUD.Action.renderField('thumb')|raw}}
    </div>
    <div class="col-md-4">
        <h3>產品內頁主圖</h3>
        {{ CRUD.Action.renderField('image')|raw}}
    </div>
    {% if bundle.config('zoom_image') %}
    <div class="col-md-4">
        <div class="column product-zoom-image-column">
            {{ CRUD.Action.renderField('zoom_image')|raw}}
        </div>
    </div>
    {% endif %}
</div>
