<div class="divider"> </div>
<h3>產品封面圖</h3>
<div style="min-height: 120px;">
    <div class="column product-image-column">
        {{ CRUD.Action.renderField('image')|raw}}
    </div>

    <div class="column product-thumb-column">
        {{ CRUD.Action.renderField('thumb')|raw}}
    </div>

    {% if plugin.config('with_zoom_image') %}
    <div class="column product-zoom-image-column">
        {{ CRUD.Action.renderField('zoom_image')|raw}}
    </div>
    {% endif %}
    <div class="clear"> </div>
</div>
