{# 
vim:filetype=htmldjango
#}
{% extends '@CRUD/edit.html' %}
{% import '@CRUD/helpers.html' as crud %}

{% set bundle      = Kernel.bundle('ProductBundle') %}
{% set tabfragment = 'tabs-' ~ (CRUD.Record.id ? CRUD.Record.id : random()) %}

{% block section_body %}
<form class="ajax-action" enctype="multipart/form-data" method="post">
<div id="{{ tabfragment }}" class="tabs">
    <ul>
        <li><a href="#{{tabfragment}}-1">產品資料</a></li>

        <li><a href="#{{tabfragment}}-content">產品內文</a></li>

        {% if bundle.config('with_features') %}
            <li><a href="#{{tabfragment}}-feature">產品功能</a></li>
        {% endif %}

        {% if bundle.config('with_related_products') %}
            <li><a href="#{{tabfragment}}-related-product">相關產品</a></li>
        {% endif %}
        {% if bundle.config('subsections') %}
            <li><a href="#{{tabfragment}}-subsections">內文子區塊</a></li>
        {% endif %}

        {% if bundle.config('links') %}
            <li><a href="#{{tabfragment}}-links">相關連結</a></li>
        {% endif %}


        {% for tab in CRUD.Object.getTabs %}
            <li><a href="#{{tab.getId()}}">{{tab.title}}</a></li>
        {% endfor %}
    </ul>

    <div id="{{tabfragment}}-content">
        {% if bundle.config('with_desc') %}
        {{CRUD.Action.renderField('description',{ class: 'mceEditor', rows: 4, cols: 80 })|raw}}
        {% endif %}

        {{CRUD.Action.renderField('content',{ class: 'mceEditor', rows: 7, cols: 80 })|raw}}
        <div class="clear"> </div>

        {% if bundle.config('with_options_content') %}
        {{CRUD.Action.renderField('options_content',{ class: 'mceEditor', rows: 7, cols: 80 })|raw}}
        <div class="clear"> </div>
        {% endif %}


        {% if bundle.config('with_spec_content') %}
        {{CRUD.Action.renderField('spec_content',{ class: 'mceEditor', rows: 4, cols: 80 })|raw}}
        <div class="clear"> </div>
        {% endif %}

        <div class="clear"> </div>
    </div>

    <div id="{{tabfragment}}-1">
        {% include '@ProductBundle/product/form.html' %}
        <div class="clear"> </div>
    </div>

    {% if bundle.config('with_features') %}
    <div id="{{tabfragment}}-feature">
        {% include '@ProductBundle/product/feature.html' %}
    </div>
    {% endif %}

    {% if bundle.config('with_related_products') %}
    <div id="{{tabfragment}}-related-product">
        {% include '@ProductBundle/product/related.html' %}
    </div>
    {% endif %}

    {% if bundle.config('subsections') %}
    <div id="{{tabfragment}}-subsections">
        {% include '@ProductBundle/product/subsection.html' %}
    </div>
    {% endif %}

    {% if bundle.config('links') %}
    <div id="{{tabfragment}}-links">
        {% include '@ProductBundle/product/link.html' %}
    </div>
    {% endif %}


    {% for tab in CRUD.Object.getTabs() %}
    <div id="{{tab.getId()}}">
        {{tab.renderContent|raw}}
    </div>
    {% endfor %}
</div>
{% include '@CRUD/controll.html' %}
</form>
{% endblock %}
