<div class="clear"> </div>
<div class="divider"> </div>
<div id="productFiles"> </div>
<script>
$(function() {
    // XXX: can we do better?
    CRUDList.init({
        title: "產品檔案",
        hint: "您可於此處上傳多組產品檔案",
        container: $('#productFiles'),
        crudId: "product_file",
        itemView: CRUDList.FileItemView,
        {% if CRUD.Record.id %}
        records: {{ CRUD.Record.files.toJson()|raw }},
        {% endif %}
        create: {
            deleteAction: "ProductBundle::Action::DeleteProductFile",
            relation: "files"
        }
    });
});
</script>
