{#
vim:filetype=htmldjango:
#}
{% set bundle = Kernel.bundle('ProductBundle') %}
<div class="product-editor">
        {{ CRUD.Action.renderSignatureWidget|raw}}
        {% if CRUD.Record.id %}
            {{ forms.hidden('id', CRUD.Record.id) }}
        {% endif %}

        <div class="row">

            <div class="col-md-6">
                <div class="col-field">
                {{ CRUD.Action.renderField('name')|raw }}
                </div>

                {% if bundle.config('with_sn') %}
                <div class="col-field">
                {{CRUD.Action.renderField('sn')|raw}}
                </div>
                {% endif %}

                <div class="clearfix"> </div>

                {% if bundle.config('with_subtitle') %}
                <div class="col-field">
                {{ CRUD.Action.renderField('subtitle') |raw}}
                </div>
                {% endif %}

                {% if Kernel.bundle('I18N') and bundle.config('with_lang') %}
                <div class="col-field">
                    {{CRUD.Action.renderField('lang')|raw}}
                </div>
                {% endif %}

                {% if Kernel.bundle('StatusPlugin') %}
                <div class="col-field">
                {{CRUD.Action.renderField('status')|raw}}
                </div>
                {% endif %}

                <div class="clearfix"> </div>


                {% if bundle.config('with_sellable') %}
                <div class="col-field">
                    {{CRUD.Action.renderField('sellable')|raw}}
                </div>
                {% endif %}

                {% if bundle.config('with_orig_price') %}
                <div class="col-field">
                {{CRUD.Action.renderField('orig_price')|raw}}
                </div>
                {% endif %}

                {% if bundle.config('with_price') %}
                <div class="col-field">
                {{CRUD.Action.renderField('price')|raw}}
                </div>
                {% endif %}

                <div class="clearfix"> </div>

                <div class="clearfix"> </div>

                {% if bundle.config('with_category') and not bundle.config('with_multicategory') %}
                {{CRUD.Action.renderField('category_id')|raw}}
                {% endif %}
            </div>

            {% if bundle.config('with_category') and bundle.config('with_multicategory') %}
            <div class="col-md-3 col-md-offset-2">
                {% for langcode, categories in categoriesByLang %}
                <div class="widget lang lang-{{langcode}} {% if langcode != Kernel.locale.current() %}hide{% endif %}">
                    <div class="widget-hd">{% trans langcode %}{% trans 'Category' %}</div>
                    <div class="widget-bd" style="max-height: 400px; overflow: auto; ">
                        {% set subview = CRUD.Action.asView('ActionKit\\View\\StackView',{ "no_form": 1 }) %}
                        {#
                        {{ subview.renderManyToManyEditor(CRUD.Record,'categories', categories) |raw}}
                        #}
                        {{ subview.buildManyToManyRelationalActionViewForExistingRecords(CRUD.Record, 'categories', null, null, categories)|raw}}
                    </div>
                </div>
                {% endfor %}

                {% if bundle.config('with_types') %}
                    <div class="widget">
                        <div class="widget-hd">{% trans '產品類型' %}</div>
                        <div class="widget-bd">
                            <ul id="productTypeList{{frag_serial}}">
                            </ul>

                            <button id="createProductType{{frag_serial}}">{% trans '新增類型' %}</button>
                        </div>
                    </div>
<script>
{% for type in CRUD.Record.types %}
    ProductType.newItem({{type.toJson()|raw}}).appendTo('#productTypeList{{frag_serial}}');
{% endfor %}

$(function() {
    $('.delete-product-type').click(function() {
        var $el = $(this).parents('.product-type');
        ProductType.deleteItem($el);
        return false;
    });
    $('.edit-product-type').click(function() {
        var $el = $(this).parents('.product-type');
        ProductType.editItem($el);
        return false;
    });

    $('#createProductType{{frag_serial}}').click(function(e) {
        var $btn = $(this);
        var $wrapper = $btn.parent();
        new CRUDDialog('/bs/product_type/crud/dialog',{},{
            onSuccess: function(resp) {
                var $el = ProductType.newItem(resp.data);
                $wrapper.find('ul').prepend($el);
            }
        });
        return false;
    });
});
</script>
                {% endif %}



            </div>
            {% endif %}
        </div>



        {% if bundle.config('with_cover_image') %}
            {% include '@ProductBundle/product/cover_image.html' %}
        {% endif %}

        {% if bundle.config('with_spec_image') %}
            {% include '@ProductBundle/product/spec_image.html' %}
        {% endif %}

        {% if bundle.config('with_images') %}
            {% include '@ProductBundle/product/image.html' %}
        {% endif %}

        {% if bundle.config('with_resources') %}
            {% include '@ProductBundle/product/resource.html' %}
        {% endif %}

        {% if bundle.config('with_files') %}
            {% include '@ProductBundle/product/file.html' %}
        {% endif %}


        {#
        {% set mixinClass = bundle.config('product.mixin') %}
        {% if mixinClass %}
            {% set mixinAction = CRUD.Record.getMixinSchemaAction() %}
            {{ mixinAction.asView('ActionKit\\View\\StackView', {
                "no_form": true,
                "no_signature": true,
                "nested": false
                }).render() |raw}}
        {% endif %}
        #}

        <div class="clear"> </div>
        <div class="divider"> </div>

        <div class="collapsible collapse-section" {# data-collapse="persist" #}>
            {% if bundle.config('properties') %}
            <h3>規格表</h3>
            <div>
                {% include '@ProductBundle/product/property.html' %}
            </div>
            {% endif %}

            {% if Kernel.bundle('SEOPlugin') 
                and bundle.config('with_seo') 
                and CRUD.Object.getModel().hasColumn('seo_keywords') 
            %}
                {% include '@SEOPlugin/fields_collapsible.html' %}
            {% endif %}


            {# 外部連結 #}
            {% if bundle.config('with_external_link') %}
                <h3>外部連結</h3>
                <div>
                    {{CRUD.Action.renderField('external_link')|raw}}
                </div>
            {% endif %}

            {% if bundle.config('with_cover_option') %}
            <h3>其他選項</h3>
            <div>
                {{CRUD.Action.renderField('is_cover')|raw}}

                {# private products are accessed by token #}
                {% if bundle.config('with_private') %}
                    {% include '@ProductBundle/product/private_token.html' %}
                {% endif %}
            </div>
            {% endif %}

            <h3>詳細資料</h3>
            <div>
                {% include '@CRUD/metadata.html' %}
                <div class="clear"> </div>
            </div>
        </div>
    <div class="clear"> </div>
</div>
<script>
$(function() {
    Product.initEdit();
});
</script>
