{% extends '@CRUD/list_inner.html' %}

{% block script %}
    {% set bundle = Kernel.bundle('ProductBundle') %}
    {{parent()}}
    <script type="text/javascript">
        $(document.body).ready(function() {
            {% if bundle.config('bulk_convert') %}
                bulkCRUD.addPlugin(new ProductBulkConvertPlugin)
            {% endif %}
            {% if bundle.config('bulk_copy') %}
                bulkCRUD.addPlugin(new ProductBulkCopyPlugin)
            {% endif %}
        });
    </script>
{% endblock %}
