<div class="divider"> </div>

<h3>產品規格圖</h3>
<div style="min-height: 120px;">
    <div class="column product-image-column">
        {{ CRUD.Action.renderField('spec_image')|raw}}
    </div>
    <div class="column product-thumb-column">
        {{ CRUD.Action.renderField('spec_thumb')|raw}}
    </div>
    <div class="clear"> </div>
</div>
