{% extends '@CRUD/dialog.html' %}
{% set edit_frag_serial = random() %}
{% set action = CRUD.Object.getCurrentAction() %}
{% set bundle = Kernel.bundle('ProductBundle') %}

{% block dialog_body %}
    <div class="action-result-container"> </div>
    <form class="formkit-form ajax-action" enctype="multipart/form-data" method="post">
        {{ action.renderSignatureWidget|raw }}

        {% if CRUD.Record.id %}
            <input type="hidden" name="id" value="{{ CRUD.Record.id }}"/>
        {% endif %}

        {% if bundle.config('ProductType.quantity') %}
            {{ action.renderField('quantity')|raw }}
        {% endif %}

        {% if bundle.config('ProductType.icon') %}
            {{ action.renderField('icon')|raw }}
        {% endif %}

        {{ action.renderField('name')|raw }}

        {{ action.renderField('comment')|raw }}

        <div class="button-group">
            <input class="formkit-widget formkit-widget-submit create button" type="submit" value="建立">
        </div>
    </form>
{% endblock %}
